test:
  host: 'localhost'
  address: '127.0.0.1'
  port: 10809
  max_matches: 5000
  version: 2.0.3
  mem_limit: 256M
  write_buffer: 4M
  attr_flush_period: 900
  mva_updates_pool: 16M
  read_buffer: 1M
  workers: threads
  mysql41: true
  binlog_path: ''
  #plugin_dir: /var/sphinx/plugins